#Fri Apr 22 14:27:02 PDT 2016
kafka.parallelism=1
memory.min.threshold=0
elasticsearch.cluster=flash-cluster
kafka.topics=flash
kafka.broker=52.25.194.6
cpu.min.threshold=0
spark.app.name=Flash
spark.app.master=local[4]
memory.max.threshold=200
kafka.receivers.group=flash-receivers
elasticsearch.host=52.34.84.102
mongodb.host=52.11.76.17
kafka.polling=2
cpu.max.threshold=200
mongodb.db=flash
mongodb.port=27017
mongodb.collection=flash
