#Fri Apr 22 02:08:11 PDT 2016
kafka.parallelism=1
memory.min.threshold=20
elasticsearch.cluster=flash-cluster
kafka.topics=flash
kafka.broker=54.183.226.1
cpu.min.threshold=20
spark.app.name=Flash
memory.max.threshold=89
spark.app.master=local[4]
kafka.receivers.group=flash-receivers
mongodb.host=52.11.76.17
elasticsearch.host=52.34.84.102
kafka.polling=2
mongodb.db=flash
cpu.max.threshold=90
mongodb.port=27017
mongodb.collection=flash
