<div class="row" style="padding: 0px 0px 0px 10px;">
	<div class="panel">
		<div class="panel-body">
			<h3 class="page-header">Analytics Results</h3>
			<div ng-include="'analyticsMessageTemplate'"></div>
			<div ng-include="'analyticsFormTemplate'"></div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="analyticsMessageTemplate">
	<div class="row">
		<div id="analyticsSuccessMessage" class="row" ng-show="analyticsMessageHandlingObject.showSuccessMessage">
			<h5><p class="text-center text-success">{{analyticsMessageHandlingObject.message}}</p></h5>
		</div>
		<div id="analyticsErrorMessage" class="row" ng-show="analyticsMessageHandlingObject.showErrorMessage">
			<h5><p class="text-center text-danger">{{analyticsMessageHandlingObject.message}}</p></h5>
		</div>
	</div>
</script>

<script type="text/ng-template" id="analyticsFormTemplate">
	<div class="row" style="padding:0px 0px 0px 10px;" >
		<div class="row">
			<div class="col-lg-6" >
				<div class="form-group row">
					<label class="col-lg-3 control-label" for="analyticsType">Analytics</label>
					<div class="col-lg-9">
						<select id="analyticsType" name="analyticsType" class="form-control"  
							ng-model="analytics.selectedAnalyticsType">
							<option ng-repeat="analyticsTypesOption in analyticsTypesOptions track by $index"
									value="{{analyticsTypesOptions[$index].value}}" 
									ng-selected="analyticsTypesOptions[$index].value==analytics.selectedAnalyticsType">
								{{analyticsTypesOptions[$index].displayName}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label" for="hosts">Hosts</label>
					<div class="col-lg-9">
						<select id="hosts" name="hosts" class="form-control"
							ng-model="analytics.selectedHost">
							<option ng-repeat="hostsOption in hostsOptions track by $index"
									value="{{hostsOptions[$index].value}}" 
									ng-selected="hostsOptions[$index].value==analytics.selectedHost">
								{{hostsOptions[$index].displayName}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 control-label" for="timeframe">Timeframe</label>
					<div class="col-lg-9">
						<select id="timeframe" name="timeframe" class="form-control" 
							ng-model="analytics.selectedTimeFrame">
							<option ng-repeat="timeframeOption in timeframeOptions track by $index"
									value="{{timeframeOptions[$index].value}}" 
									ng-selected="timeframeOptions[$index].value==analytics.selectedTimeFrame">
								{{timeframeOptions[$index].displayName}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<button class="btn btn-md btn-primary btn-block" type="button" ng-click="onClickVisualize();">Visualize</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'analyticsLineGraphTemplate'"></div>
</script>

<script type="text/ng-template" id="analyticsLineGraphTemplate">
	<div class="row" style="padding: 20px 0px 20px 0px;">
	    <div class="span9 col-lg-8" style="height:600px;">
	        <div class="row">
	            <highchart class="chart" config="chartConfig" class="span9" ></highchart>
	        </div>
	    </div>
	</div>
</script>

